@import "./variables";

.analytics__view{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .right{
      
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 1rem;
       place-items: center;
       overflow-y: auto;
       max-height: 32rem;

       .emp__card1 {
        width: 18rem;
        background: $color-white;
        height: 6rem;
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
      
      img {
        background-color: $color-dark-variant;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background-size: cover;
        object-fit: cover;
      }
      .top {
        height: 65%;
        align-items: center;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        gap: 0.5rem;
        position: relative;
        font-size: $step-1;
        h3{
            color: $color-dark;
        }
      
      &::after {
        content: "";
        width: 80%;
        height: 0.05rem;
        background-color: $color-dark;
        position: absolute;
        bottom: 0;
        justify-self: center;
        left: 50%;
        transform: translate(-50%, 50%);
      }}
      .bottom {
        justify-self: flex-end;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      
      h4 {
        font-weight: 300;
        color: $color-info-dark;
        font-size: 0.6rem;
      }
      small {
        font-size: 0.5rem;
        color: $color-primary;
        font-weight: 500;
      } }  

    }
    .emp__card{
        width: 18rem;
        color: $color-info-dark;
        border-radius: $border-radius-2;
        height: 10rem;
        background: $color-white;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: 25% auto;
        grid-template-rows: repeat(1fr,4);
        gap:0.3rem;
        grid-template-areas: 'img info1'
        'img info2'
        'img info3'
        'img info4';
        img{
            grid-area: img;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            align-self: center;
           }
           .card-info{
            display: flex;
            border: 1px solid $color-info-dark;
            border-radius: $border-radius-1;
            font-size: 0.7em;
            align-items: center;
            gap: 0.3em;
            :first-child{
                background: $color-info-light;
                height: 100%;
                padding: 0 0.2rem;
                border-right: 1px solid $color-info-dark;
                display: flex;
                align-items: center;    
            }
            
           }
    }
       
       
    

    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        height: 45%;
        padding:1rem;
        overflow: hidden;
        .starts{
            width: 100%;
            justify-content: space-between;
            display: flex;
            padding:   $space-xs $space-m;
            gap: $space-2xs;
            .starts__card{
                width: 18rem;
                height: 10rem;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: $space-xl $space-s $space-xl;
                grid-template-areas:
                  "a b c"
                  "d e c"
                  "f f f";
                box-shadow: $box-shadow;
                background: $color-white;
                padding: $space-xs;
            
                gap: $space-3xs;
                border-radius: $border-radius-3;
                transition: all 300ms ease;
                .icon__starts{
                    grid-area: a;
                }
                h3{
                    grid-area: d;
                    color: $color-dark;
                }
                small{
                    grid-area: f;
                    color: $color-info-dark;
                }
                &:hover{
                    box-shadow: none;
                }
                .progress{
                    grid-area: c;
                    position: relative;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    .number{
                        position: absolute;
                        top:0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        small{
                            font-size: $step-1;
                        }
    
                    }
                    svg{
                        width: 5rem;
                        height: 5rem;
                        circle{
                            fill: none;
                            stroke: $color-primary;
                            stroke-width: 9;
                            stroke-linecap: round;
                            // transform: translate(5px,5px);
                            stroke-dasharray: 110;
                            stroke-dashoffset: 92;
                        }
                    }
                }
            }
    
    }

        form{
            position: relative;
            padding-top: 1.5rem;
            //background: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        .search{
            
            position: relative;
            width: 100%;
            margin: 0 auto;
            background: transparent;
            border-radius: $border-radius-2;
            border: 2px solid $color-info-dark;
            padding: 0.5rem;
        }
        .search__icon{
            position: absolute;
            font-size: 2rem;
            margin-right: 0.5rem;
            color: $color-info-dark;
        }
    
    }
    .welcome-info{
        display: flex;
        flex-direction: column;
        margin:  $space-s 0;
        color: $color-info-dark;
        h2{
            color:$color-dark;
            font-size: $step-0;
        }
        span{
            font-size:   $step--1;
        }


    }
    .users-list{
        display: flex;
        flex-direction: column;
        overflow:hidden;    
        .user-title{
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            h3{
                color:$color-dark
            }
            select{
                outline: none;
                border-radius: $border-radius-1;
                background: transparent;
                color: $color-info-dark;
            }
        }


    }
    }
}
@media (max-width: $breakpoint-tablet) {
    .analytics__view{
        .right{
            height: 100% !important;
      
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            .emp__card1 {
                width: 16rem;
                height: 8rem;
                padding-left: 0.5rem;
            }
        }


    }
}
@media (max-width: $breakpoint-mobile) {
    .analytics__view{
        max-width: 100vw !important;
        overflow-x: hidden;
        .right{
            height: 100% !important;
            padding: 0 0.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem !important;
            .emp__card1 {
                width: 12rem;
                height: 8rem;
                padding-left: 0.5rem;
                .bottom {
                    justify-self: flex-end;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }


    }
    .left{
    .starts{
        padding: 0.5rem !important;
    }
}
}