@import "./variables";

.dashboard__view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $space-2xs;
  .right {
    background: $color-white;
    border-radius: $border-radius-3;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $space-2xl;
    place-items: center;
    overflow-y: auto;
    max-height: 32rem;
    padding: $space-xs;

    .emp__card {
      width: 20rem;
      background: $color-light;
      height: $space-3xl;
      border-radius: $border-radius-3;
      display: flex;
      flex-direction: column;
      padding: $space-xs;

      img {
        background-color: $color-dark-variant;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background-size: cover;
        object-fit: cover;
      }
      .top {
        height: 65%;
        align-items: center;
        display: flex;
        flex-direction: row;
        font-weight: 500;
        gap: 0.5rem;
        position: relative;
        font-size: $step--2;
        h3 {
          color: $color-dark;
        }

        &::after {
          content: "";
          width: 80%;
          height: 0.05rem;
          background-color: $color-dark;
          position: absolute;
          bottom: 0;
          justify-self: center;
          left: 50%;
          transform: translate(-50%, 50%);
        }
      }
      .bottom {
        justify-self: flex-end;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h4 {
          font-weight: 300;
          color: $color-info-dark;
          font-size: $step--2;
        }
        small {
          font-size: $step--2;
          color: $color-primary;
          font-weight: 500;
        }
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 45%;
    padding: 1rem;
    overflow: hidden;
    .starts {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
      padding: $space-xs $space-m;
      gap: $space-2xs;
      .starts__card {
        width: 90%;
        height: 12rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: $space-xl $space-s auto;
        grid-template-areas:
          "a b c"
          "d e c"
          "f f f";
        box-shadow: $box-shadow;
        background: $color-white;
        padding: $space-xs;

        gap: $space-3xs;
        border-radius: $border-radius-3;
        transition: all 300ms ease;
        .icon__starts {
          grid-area: a;
        }
        h3 {
          grid-area: d;
          color: $color-dark;
        }
        small {
          grid-area: f;
          color: $color-info-dark;
        }
        &:hover {
          box-shadow: none;
        }
        .progress {
          grid-area: c;
          position: relative;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          .number {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            small {
              font-size: $step-1;
            }
          }
          svg {
            width: 5rem;
            height: 5rem;
            circle {
              fill: none;
              stroke: $color-primary;
              stroke-width: 9;
              stroke-linecap: round;
              stroke-dasharray: 110;
              stroke-dashoffset: 92;
            }
          }
        }
      }
    }

    form {
      position: relative;
      padding-top: $space-s;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .search {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: transparent;
        border-radius: $border-radius-2;
        border: 2px solid $color-info-dark;
        padding: $space-2xs;
      }
      .search__icon {
        position: absolute;
        font-size: $step-3;
        margin-right: $space-2xs;
        color: $color-info-dark;
      }
    }
    .welcome-info {
      display: flex;
      flex-direction: column;
      margin: $space-s 0;
      color: $color-info-dark;
      h2 {
        color: $color-dark;
        font-size: $step-0;
      }
      span {
        font-size: $step--1;
      }
    }
    .users-list {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .user-title {
        display: flex;
        justify-content: space-between;
        margin: $space-xs 0;
        h3 {
          color: $color-dark;
        }
        select {
          outline: none;
          border-radius: $border-radius-1;
          background: transparent;
          color: $color-info-dark;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .dashboard__view {
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    overflow: unset;
    .left {
      width: 100%;
      padding: 0;
      .starts {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .starts__card {
          width: 100%;
          height: 10rem;
        }
      }
      form {
        width: 95%;
        margin: 0 auto;
      }
      .users-list {
        padding: $space-xs 0;
        width: 90%;
        margin: 0 auto;
      }
    }
    .right {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      gap: $space-xs;
      .emp__card {
        width: 100%;
        height: 8rem;
        //padding-left: $space-2xs;
      }
    }
  }
}
@media (max-width: $breakpoint-mobile) {
  .dashboard__view {
    .left {
      width: 100%;
      padding: 0;
      .starts {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2rem;
        .starts__card {
          width: 100%;
          height: 10rem;
        }
      }
    }
    .right {
      height: 100% !important;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .emp__card {
        width: 100%;
        height: 8rem;
        .bottom {
          justify-self: flex-end;
          height: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
